/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    width: 400px; /* max: 1000px */
    height: 500px; /* max: 750px */
}

#flavours button {
    @apply bg-surface0;
}
#flavours button.active {
    @apply bg-pink/50;
}

#card {
    @apply w-auto md:w-2/4 2xl:w-1/4 bg-gradient-to-b p-6 rounded-3xl flex flex-col justify-center items-center outline outline-2 shadow-xl;
}

#card h1 {
    @apply font-black text-5xl lg:text-6xl bg-gradient-to-r bg-clip-text text-transparent;
}

#card h2 {
    @apply font-black text-4xl lg:text-6xl bg-gradient-to-r bg-clip-text text-transparent;
}

#card h3 {
    @apply font-black text-2xl lg:text-6xl;
}

#card p {
    @apply font-bold mb-4 text-center;
}

#card button:not(#flavours button) {
    @apply text-base px-4 py-2 rounded-xl font-bold text-xl transition duration-500 ease-in-out;
}

#palette {
    @apply grid justify-items-center auto-rows-auto grid-cols-7 mb-8 gap-4;
}

#palette > * {
    @apply w-6 h-6 rounded-full;
}

.current {
    @apply outline outline-text;
}

.navbutton-left {
    @apply hover:bg-pink/50 active:bg-pink/80 py-2 pr-2 pl-4 rounded-l-xl outline outline-1 outline-overlay2/10;
}

.navbutton-center {
    @apply hover:bg-pink/50 active:bg-pink/80 p-2 outline outline-1 outline-overlay2/10;
}

.navbutton-right {
    @apply hover:bg-pink/50 active:bg-pink/80 py-2 pl-2 pr-4 rounded-r-xl outline outline-1 outline-overlay2/10;
}

div[title] {
    position: relative;
}

div[title]:hover::after {
    content: attr(title);
    position: absolute;
    bottom: 100%; /* Position the tooltip above the element */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.25rem;
    white-space: nowrap;
}