{
  "printWidth": 120,
  "bracketSameLine": true,
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-svelte"],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
