/*
  Be specific as possible with your selectors, try and use the verbose Schoolbox component class names
  For example:
  .Schoolbox_Learning_Component_Dashboard_UpcomingWorkController <your selectors>
*/

/* ----- global ----- */
/* advanced search button */
.icon-search.button {
  border-radius: 0px 0px 10px 10px !important;
}
.c-header-search__results {
  border: none !important;
}

/* timetable on homepage */
div[data-timetable-container] > section:has(.timetable) {
  border-radius: 10px !important;
  overflow: clip;
}

/* account and action dropdown */
#account-content,
.f-dropdown {
  border-radius: 0px 0px 10px 10px !important;
}

/* round action buttons */
.actions-small-3 > nav a[class*="icon-"]:hover,
.actions-small-3 > nav a[class^="icon-"]:hover,
.island .row.actions-small-3 > nav a[class*="icon-"]:hover,
.island .row.actions-small-3 > nav a[class^="icon-"]:hover,
.left-off-canvas-menu .left-menu-dock:hover {
  border-radius: 10px;
}

/* ----- notifications page ----- */
/* url:/notifications */

.notification-list .information-list > li:first-child > div,
.notification-list .information-list > li:first-child {
  border-radius: 10px 10px 0px 0px;
}
.notification-list .information-list > li:last-child > div,
.notification-list .information-list > li:last-child {
  border-radius: 0px 0px 10px 10px;
}
.notification-list .information-list,
.notification-list .information-list > li:only-child > div {
  border-radius: 10px;
}

/* news component */
#news-component {
  /* round tabs at the bottom */
  & .tabs {
    border-radius: 10px 10px 0px 0px;
  }

  /* round the news cards */
  & ul.information-list {
    background: none !important;
    & > li {
      background-color: var(--left-bg-primary) !important;
      /* round the bottom of the last card */
      &:last-child {
        border-radius: 0px 0px 10px 10px !important;
      }
    }
  }
}

/* empty component */
.Schoolbox_Calendar_Component_Dashboard_Controller.component-container .empty-state {
  border-radius: 10px;
}

/* upcoming work component */
.Schoolbox_Learning_Component_Dashboard_UpcomingWorkController .information-list,
.Schoolbox_Learning_Component_Dashboard_UpcomingWorkController .information-list .card {
  border-radius: 10px !important;
}

/* calendar */
.calendar-15403,
.fc {
  border-radius: 10px;
}

/* slideshow */
.Component_Dashboard_SlideshowController.component-container .swiper {
  border-radius: 10px !important;
}

/* ----- calendar page ----- */
/* url:/calendar */

/* buttons */
.fc-button-group > button:first-child {
  border-radius: 10px 0px 0px 10px;
}
.fc-button-group > button:last-child {
  border-radius: 0px 10px 10px 0px;
}

/* ----- classes page ----- */
/* url:/learning/classes */

.v-card {
  border-radius: 10px;
}
.card-class-image {
  border-radius: 10px 10px 0px 0px;
}

/* ----- homepage (class pages) ----- */
/* url:/homepage/code/:id */

/* news */
.component-action > section {
  background-color: var(--left-bg-primary) !important;
  border-radius: 10px !important;
  border: none !important;
}
.component-action {
  background: var(--left-bg-primary) !important;
  border-radius: 0px 0px 10px 10px;
}

.component-container .component-titlebar {
  border-radius: 10px 10px 0px 0px;
  background: var(--top-head-bg);
}

.tile,
.button:not(.icon-search, .mark-all-read, #message-list *),
.component-container,
.small-12.island > section:not(.component-container *) /* section that is not a child of .component-container */ {
  border-radius: 10px;
  overflow: clip;
}
