/*
For developers:
Please read the Contributing guidelines here --> https://github.com/schooltape/schooltape/blob/main/CONTRIBUTING.md
*/

/* You can customize these variables to suit your liking */
:root {
    --background: #000000; /* Normally the darkest colour on the page and used in the sidebars */
    --content-ui-background: #000000 !important; /* Keep this the same as background for best results */
  
    --middleground: #1E1E1E; /* This colour is used as the background for the main homepages. */
    --navigation-background: #1E1E1E !important; /* Keep this the same as middleground for best results */
  
    --body-background: #1E1E1E !important; /* Keep this the same as middleground for best results */
  
    --foreground: #333333; /* This colour is used to contain the news along with other UI elements. */
  
    --text: white; /* The colour of text */
  
    --primary: #2f375c; /* Used for dropdown menu's and timetables */
  
    --secondary: #2E5984; /* Used for buttons */
    --content-ui-hover: #2E5984 !important; /* Keep this the same as secondary for best results */
    --fc-list-event-hover-bg-color: #2E5984 !important; /* Keep this the same as secondary for best results */
  
  }
  
  
  /* ---------------------- GLOBAL (overrides everywhere) ---------------------- */
  /* Makes the images face out on hover */
  @media (prefers-color-scheme: dark) {
    img {
      opacity: 100% !important;
      transition: opacity .5s ease-in-out !important;
    }
    img:hover {
      opacity: .9 !important;
    }
  }
  
  /* Fix class tile bug */
  div#component15473>div>div>section>div>div>div{
    background-color: var(--primary) !important;
  }
  
  /* Adds some padding to class tiles */
  .v-card.small-12 {
      padding: 5px;
  }
  
  /* Fix issue #41 grey box around "Upcoming due work"*/
  ul.information-list {
    background-color: var(--foreground) !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  div#component3422>div>div>h2 {
    background-color: var(--foreground) !important;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-top: 10px;
    margin-bottom: 0px;
  }
  
  div#news-component>div>section>div>ul>li {
    background-color: var(--foreground) !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  div#news-component>div>section{
    background-color: var(--foreground) !important;
    border-bottom-left-radius: 100px !important;
    border-bottom-right-radius: 100px !important;
  }
  
  div#component3420>div>div>h2 {
    background-color: var(--foreground) !important;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-top: 10px;
    margin-bottom: 0px;
  }
  
  /* Changes what happens when you hover over a link */
  a:hover {
      background-color: var(--middleground) !important;
      border-radius: 8px !important;
      color: var(--text) !important;
      opacity: 0.25 !important;
  }
  /* Changes what happens when you hover over a event */
  tr.fc-list-event:hover {
    background-color: var(--secondary) !important;
    border-radius: 8px !important;
    color: var(--text) !important;
    opacity: 0.5 !important;
  }
  
  .editPanel.socialstream-new-post {
    background-color: var(--foreground) !important;
    border-radius: 8px !important;
  }
  /* Adds rounded corners to pictures everywhere */
  img {
    border-radius: 8px !important;
  }
  
  /* Adds rounded corners to almost all the list items */
  li{
    border-radius: 8px !important;
  }
  li.separator{
    border-radius: 0px !important;
  }
  
  /* Removes bottom-borders everywhere (issue #20)*/
  dl.tabs{
    border-bottom: none !important;
  }
  
  /* Adds rounded corners and dark mode to profile dropdown */
  div#account-content.account-drop.open{
    border-radius: 8px !important;
    background-color: var(--foreground) !important;
  }
  ul#profile-options>li{
    border-radius: 8px !important;
    background-color: var(--foreground) !important;
    color: var(--text) !important;
  }
  ul#profile-options>li>a{
    background-color: var(--foreground) !important;
    color: var(--text) !important;
  }
  a.icon-logout{
    border-radius: 0px 0px 8px 8px !important;
  }
  
  /* Removes white bar at right of profile dropdown */
  .account-drop::-webkit-scrollbar-track {
   display: none;
  }
  
  /* Rounds all the section html elements (basically all the menus) */
  section {
    background-color: var(--middleground) !important;
  }
  
  /* Changes left and right slideout menus to var (--background) */
  aside {
    background-color: var(--background) !important;
    background: var(--background) !important;
  }
  
  /* Changes all links to white */
  a {
    color: var(--text) !important;
  }
  
  /* Changes all headings and text to white */
  h1 {
    color: var(--text) !important;
  }
  h2 {
    color: var(--text) !important;
  }
  h3 {
    color: var(--text) !important;
  }
  h4 {
    color: var(--text) !important;
  }
  h5 {
    color: var(-text) !important;
  }
  h6 {
    color: var(-text) !important;
  }
  
  strong {
    color: var(--text) !important;
  }
  
  label {
    color: var(--text) !important;
  }
  
  time {
    color: var(--text) !important;
  }
  
  li {
    color: var(--text) !important;
  }
  
  span{
    color: var(--text) !important;
    /* Fix bugs on pages such as the /policy white highlighting issue. */
    background-color: transparent !important;
  }
  
  p {
    color: var(--text) !important;
  }
  
  td {
    color: var(--text) !important;
  }
  
  dl {
    color: var(--text) !important;
  }
  
  /* Change colours in search box and results */
  
  .global-search .result-meta {
    background: var(--background) !important;
  }
  
  .global-search .results {
    border-color: var(--foreground) !important;
    background-color: var(--background) !important;
  }
  
  .global-search [type=text]:focus, .global-search [type=text]:active, .global-search:hover [type=text], .global-search:hover [type=text]:focus{
    border-color: var(--foreground) !important;
  }
  
  .global-search .result-meta.with-bg {
    color: var(--text) !important;
  }
  
  input#search-field {
    color: var(--text) !important;
  }
  input#search-field::placeholder {
    color: var(--text) !important;
  }
  
  /* fix issue #31 */
  .left-off-canvas-menu .left-submenu, .left-off-canvas-menu .left-submenu .back>a{
    background-color: var(--background) !important;
  }
  
  /* Pagination colours */
  ul.pagination li a, ul.pagination li button{
    background-color: var(--foreground) !important;
  }
  
  /* Changes navigation path colours */
  .breadcrumb li a {
    background-color: var(--foreground) !important;
  }
  
  .breadcrumb li a:before {
    border-left: .4rem solid var(--foreground) !important;
  }
  
  .breadcrumb li a:after {
    border-left: .4rem solid var(--foreground) !important;
    background-color: .4rem solid var(--middleground) !important;
  }
  
  select {
    background-color: var(--background) !important;
    color: var(--text) !important;
  }
  
  /* Confirmation Pop-up Colours */
  body > div.reveal-modal.small.open{
    background-color: var(--background) !important;
  }
  #confirm-dialog-confirm-button{
    background-color: var(--secondary) !important;
    color: var(--text) !important;
  }
  #confirm-dialog-cancel-button{
    background-color: var(--primary) !important;
    color: var(--secondary) !important;
  }
  
  .empty-state{
    background-color: var(--background) !important;
    border-radius: 0px 0px 8px 8px !important;
  }
  
  /* Changes colour of selected dd item */
  .tabs dd.active a, .tabs li.tab-title.active a{
    border-bottom: 2px solid var(--foreground) !important;
    background-color: var(--secondary);
    border-radius: 8px;
    opacity: 0.5;
  }
  
  /* List colours (profile) */
  .flex-list.buttons a, .flex-list.buttons button{
    background-color: var(--background) !important;
    border-radius: 8px 8px 8px 8px !important;
  }
  
  /* Settings switches */
  .switch input:checked+label{
    background: var(--foreground) !important;
  }
  .permission-list input:checked+label{
    background-color: var(--foreground) !important;
  }
  
  /* ---------------------- QUIZZES PAGES ---------------------- */
  /* Adds dark mode to the start quiz confirmation page */
  .row>div>div>table>tbody{
    background-color: var(--foreground) !important;
    border-radius: 8px !important;
  }
  .row>div>table>tbody{
    background-color: var(--foreground) !important;
    border-radius: 8px !important;
  }
  /* Adds dark mode to the timer in the quiz */
  time#evaluation-countdown{
    color: var(--text) !important;
  }
  /* Adds dark mode to titles of progress bars (eg. "Multiple choice questions") */
  p.meta.title{
    color: var(--text) !important;
  }
  /* Adds dark mode to the multiple choice answer labels */
  label.radio-label{
    color: var(--text) !important;
  }
  /* Adds dark mode to the big text input boxes */
  div.cke_inner.cke_reset{
    background-color: var(--foreground) !important;
    color: var(--text) !important;
  }
  
  /* Invert buttons in big text input boxes */
  span.cke_button_icon{
    filter: invert(100%) !important;
  }
  
  /* Adds dark mode to the small text input boxes */
  input{
    background-color: var(--foreground) !important;
    color: var(--text) !important;
  }
  
  /* Adds dark mode to the progress meter */
  .progress .meter{
    background-color: var(--foreground) !important;
  }
  
  /* Changes the colour of the checkboxes */
  input[type=checkbox]:not(.plain):checked+label.checkbox-label:before, body.login input[type=checkbox]:not(.plain):checked+label:before, input[type=checkbox]:not(.plain):checked+label.checkbox-label:after, body.login input[type=checkbox]:not(.plain):checked+label:after {
    color: var(--foreground) !important;
    background-color: var(--links) !important;
  }
  
  /* Changes the colour of the ticks and crosses back to the original */
  .evaluation-incorrect-answer-icon {
    color: #fa4a47 !important;
  }
  .evaluation-correct-answer-icon {
    color: #4fa74f !important;
  }
  .evaluation-unselected-answer-icon{
    color: #ff7d00 !important;
  }
  
  /* Changes colour of the matching type questions */
  .matching-pairs .sortable{
    background-color: var(--background) !important;
  }
  
  /* ---------------------- INDIVIDUAL CLASSES PAGES ---------------------- */
  div.list-item{
    background-color: var(--primary) !important;
    border-radius: 8px !important;
  }
  .component-titlebar{
    background-color: var(--middleground) !important;
  }
  
  
  /* Rounds the class image in the classes page in the top left and right corners */
  .card-class-image{
    border-radius: 8px 8px 0px 0px !important;
  }
  
  /* Applies transparency effect so you can see the text of a tile */
  span.title.text-bottom.text-center{
    background-color: rgba(51, 51, 51,0.5) !important;
  }
  
  /* Rounds the bottom of the tiles on the classes pages (and the home page and other places I don't know about...)*/
  div.card-content.classes.actions-small-1{
    border-radius: 0px 0px 8px 8px !important;
    background-color: var(--primary) !important;
  }
  
  /* Fixes the white replies to OP bug */
  li.actions-small-2{
    background-color: var(--middleground) !important;
    border-radius: 8px !important;
  }
  ul.information-list.reply{
    border-radius: 8px !important;
    border-color: var(--primary) !important;
    background-color: var(--middleground) !important;
  }
  
  /* fix issue #31 */
  .left-off-canvas-menu .left-submenu, .left-off-canvas-menu .left-submenu .back>a{
    background-color: var(--background) !important;
  }
  
  /* ---------------------- HOME PAGE ---------------------- */
  /* Fix for blurple colour on hover out of notification bar */
  a.exit-off-canvas:hover {
    opacity: 0 !important;
  }
  
  
  /* Adds dark mode to calendar and puts it in it's own box! */
  div#calendar{
    background-color: var(--foreground) !important;
    border-radius: 8px !important;
  }
  div#component3421{
    background-color: var(--foreground) !important;
    border-radius: 8px !important;
  }
  div.fc-list-day-cushion.fc-cell-shaded{
    background-color: var(--foreground) !important;
  }
  
  /* fixes issue #28 */
  .swiper-container{
    border-radius: 8px !important;
  }
  
  /* Removes mobile app ad */
  #component20175, .swiper-pagination {
    display: none !important;
  }
  
  /* Adds rounded corners to the mini timetable */
  #component3419{
    border-radius: 8px 8px 8px 8px !important;
  }
  
  /* Adds dark mode to the mini timetable */
  #component3419{
    background-color: var(--foreground) !important;
  }
  thead{
    background-color: var(--middleground) !important;
    color: var(--text) !important;
  }
  .timetable>tbody>tr>td {
    background-color: var(--foreground) !important;
  }
  th{
    color: var(--text) !important;
    background-color: var(--foreground) !important;
  }
  th.timetable-day-active {
    color: #121212 !important;
  }
  table.timetable{
    background-color: var(--middleground) !important;
  }
  div.timetable-subject{
    color: var(--text) !important;
    background: var(--foreground) !important;
  }
  
  
  /* Adds 10 pixels of padding to the subheader above the mini timetable */
  .subheader{
    padding-left: 10px !important;
  }
  
  /* Replaces icon with dark mode version */
  div.logo-wrapper{
    background-color: var(--background) !important;
  }
  
  .logo>img {
    filter: invert() grayscale();
  }
  
  /* Adds dark mode to the background of homepage */
  /* Makes the ui look terrible if you remove this, if you want to disable dark mode remember to delete all other dark mode related things */
  
  section.main{
    background-color: var(--middleground) !important;
  }
  /* ---------------------- NEWS PAGE ---------------------- */
  /* Adds rounded corners to the news floating tile */
  dl.tabs{
    border-radius: 8px !important;
    background-color: var(--foreground) !important;
  }
  
  /* Adds dark mode to news menus */
  li.actions-small-1{
    background-color: var(--middleground) !important;
    color: var(--text) !important;
  }
  
  /* Adds dark mode to the news selector (and possibly other selectors idrk) */
  .side-nav{
    background-color: var(--foreground) !important;
  }
  
  /* Changes colour of pagination on the new page (and possibly elsewhere idrk) */
  ul.pagination li a, ul.pagination li button{
    background-color: var(--foreground) !important;
  }
  
  /* Adds dark mode to the news permissions */
  .reveal-modal {
    background-color: var(--background) !important;
  }
  
  /* Add rounded corners to timetable buttom two corners */
  div.scrollable.show-for-medium-up {
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
  }
  
  
  /* ---------------------- ICONS ---------------------- */
  .material-icons-round {
    color: white !important;
  }
  
  a#notification-toggle {
    background-color: inherit !important;
  }
  .unread-notif {
    color: #fa4a47 !important;
  }
  /* ---------------------- BETA ---------------------- */
  /*
  IMPORTANT:
  Everything below is currently in beta, you have to options:
    a) Delete everything below before loading your extension if you don't want the user interface to look bad.
    b) Don't delete everything below if you would like to test out the latest beta features of this extension.
  */
  /* THIS SECTION GETS COMMENTED OUT DURING STABLE RELEASES */
  