/* ---------------------------------- Google Fonts ---------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');


/* ---------------------------------- Main ---------------------------------- */
html {
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f6fb;
}

body {
    opacity: 0;
    transition: opacity 0.5s ease-in;
    margin: 0px;
}
body.load {
    opacity: 1;
}

h1, h2 {
    font-family: 'Comfortaa', sans-serif;
}

/* ---------------------------------- Scroll Snap ---------------------------------- */
/* .main {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
.scroll-snap {
    scroll-snap-align: start;
} */

/* ---------------------------------- Navigation ---------------------------------- */
nav {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: white;
    color: black;
    overflow: hidden; /* Makes everything inside the navbar stay in the navbar */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    position: sticky; /* Makes the navbar stay at the top of the page */
    top: 0;
    z-index: 1;
}
nav a {
    color: black;
    text-align: center;
    padding: 12px 16px;
    margin-left: 10px;
    font-size: 17px;
    text-decoration: none;
    
    transition: all 0.4s ease-in-out;
}

body.home a.navbar-link.home, body.settings a.navbar-link.settings, body.plugins a.navbar-link.plugins, body.themes a.navbar-link.themes {
    background-color: #e4e5f1;
    border-radius: 5px;
}
.navbar-links {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: right;
}
.header {
    display: flex;
    align-items: center;
    float: left;
}
.logo {
    height: 40px;
    margin-left: 10px;
}

/* ---------------------------------- Welcome Container ---------------------------------- */
.screenshot-container {
    margin-left: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4); /* offset-x | offset-y | blur-radius | color */
    overflow: hidden;
}
.screenshot {
    transition: all 0.4s ease-in-out;
    max-width: 100%;
    /* remove the whitespace */
    display: block;
}

.container {
    background-color: #e4e5f1;
    padding: 10px;
    margin: 8px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4); /* offset-x | offset-y | blur-radius | color */
    transition: all 0.4s ease-in-out;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
.flex-child {
    flex: 1 1 0px; /* flex-grow | flex-shrink | flex-basis */
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
}
.badge {
    background-color: #0078d4;
    color: white;
    padding: 4px;
    border-radius: 5px;
    font-size: 12px;
    display: inline-block;
}
button {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    transition: all 0.4s ease-in-out;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

button.accent {
    background-color: #0078d4;
    color: white;
}
button.lightweight {
    background-color: #e4e5f1;
    color: black;
}

/* ---------------------------------- Divider ---------------------------------- */
.divider { /* divider between sections */
    margin: 12px;
    height: 3px;
    background-color: lightgray;
    border-radius: 8px;
}

/* ---------------------------------- Icons ---------------------------------- */
.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 80px;
    min-height: 80px;
    border-radius: 30%;
    background: linear-gradient(45deg, #484b6a, #0078d4);
    transition: all 0.4s ease-in-out;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}
span { /* for the Google Icons */
    color: white;
    font-size: 50px !important;
}

/* ---------------------------------- Features ---------------------------------- */
.feature-container {
    width: 250px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
.feature-flex {
    display: flex;
    justify-content: space-between;
}
.feature-link {
    text-decoration: none;
}

/* ---------------------------------- Learning ---------------------------------- */
.learning-image {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4); /* offset-x | offset-y | blur-radius | color */
    transition: all 0.4s ease-in-out;
    object-fit: cover;
}
.learning-cards {
    margin: 0px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.learning-cards > .card {
    height: 100%;
    margin: 0px;
}
.learning-cards > .learning-docs {
    margin: 10px 0px;
}
.learning-flex > div > div {
    height: 450px;
    margin: 10px;
}

/* ---------------------------------- More Info ---------------------------------- */
.info-flex > div {
    height: 260px;
}

/* ---------------------------------- Cards ---------------------------------- */
.card {
    flex: 1 1 0px; /* flex-grow | flex-shrink | flex-basis */
    height: 100px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: linear-gradient(45deg, rgb(210,211,219), rgb(147,148,165));
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4); /* offset-x | offset-y | blur-radius | color */
    transition: all 0.4s ease-in-out;
}
.card > a {
    text-decoration: none;
    color: black;
}

.card-text {
    margin-left: 20px;
}

/* ---------------------------------- Hover Effects ---------------------------------- */
nav a:hover {
    background-color: #e4e5f1;
    border-radius: 5px;
    transform: scale(1.05);
}
button:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    transform: scale(0.95);
}
.screenshot:hover {
    transform: scale(1.1);
}
.icon-hover:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    transform: scale(1.05);
}
.card-hover:hover {
    transform: scale(1.05);
}

/* ---------------------------------- Transitions ---------------------------------- */
@keyframes fade-out-in {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}