a.logo > img {
    content:url("https://raw.githubusercontent.com/catppuccin/catppuccin/main/assets/logos/exports/1544x1544_circle.png");
    max-width: 30%;
}

.material-icons-round {
    color: hsl(227, 68%, 88%) !important;
}

body {
    color: hsl(227, 68%, 88%);
}

p, h1, h2, h3, h4 {
    color: hsl(227, 68%, 88%);
}

#account-content {
    overflow: hidden;
}
.account-menu-mobile .separator, .account-drop .separator {
    color: hsl(316, 74%, 85%);
}

.side-nav {
    background-color: hsl(230, 19%, 26%);
}
.side-nav li a:not(.button):not(.adtp-btn):not(button):not([type=submit]):not(a.submit):not(button.submit):not(.show-ckeditor-button):hover, .side-nav li a:not(.button):not(.adtp-btn):not(button):not([type=submit]):not(a.submit):not(button.submit):not(.show-ckeditor-button):focus {
    color: hsla(316, 74%, 85%, 0.70);
}

.right-off-canvas-menu ul.off-canvas-list label, .right-small a[data-unread]:not([data-unread="0"]), #msgs[data-unread]:not([data-unread="0"]) #right-menu-dock {
    background-color: hsl(351, 74%, 73%);
    color: hsl(232, 24%, 18%);
}

#component-layout {
    --left-head-bg: hsl(316, 74%, 85%) !important;
    --right-head-bg: hsl(316, 74%, 85%) !important;
    --top-head-bg: hsl(316, 74%, 85%) !important;
    --top-head-font: hsl(232, 24%, 18%) !important;
    --left-head-font: hsl(232, 24%, 18%) !important;
    --right-head-font: hsl(232, 24%, 18%) !important;
    --top-bg-primary: hsl(232, 24%, 18%) !important;
    --left-bg-primary: hsl(231, 16%, 34%) !important;
    --right-bg-primary: hsl(230, 19%, 26%) !important;
    --left-font-primary: hsl(227, 68%, 88%) !important;
}

#tab-control .separator {
    background-color: hsl(231, 16%, 34%);
}

input:focus, textarea:focus, select:focus, input:not([type]):focus, input[type=text]:focus, input[type=password]:focus, input[type=date]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=month]:focus, input[type=week]:focus, input[type=email]:focus, input[type=number]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=time]:focus, input[type=url]:focus, input[type=color]:focus, textarea:focus, .ck.ck-content.ck-editor__editable.ck-focused, .ck.ck-editor__main .ck-source-editing-area textarea:focus {
    border-color: hsl(316, 74%, 85%) !important;
}

[type=submit]:hover, .flex-list.buttons a.submit:hover, .flex-list.buttons button.submit:hover, a.submit:hover, button.submit:hover, [type=submit]:focus, .flex-list.buttons a.submit:focus, .flex-list.buttons button.submit:focus, a.submit:focus, button.submit:focus {
    background-color: hsla(316, 74%, 85%, 0.80);
}

.selectize-input, .selectize-control.single .selectize-input.input-active {
    background: hsl(230, 19%, 26%);
}

.selectize-dropdown {
    background: hsl(231, 16%, 34%);
    color: hsl(227, 68%, 88%);
}

.dzone {
    background: none !important;
}

label {
    color: hsl(227, 68%, 88%);
}

.editPanel.socialstream-new-post, .content, .information-lis, .empty-state, .empty-state-flex-centered, .card, .show-ckeditor-button {
    background-color: hsl(230, 19%, 26%);
}


.fc-list-table {
    background-color: hsl(230, 19%, 26%) !important;
}
table tr th, table tr td {
    color: hsl(227, 68%, 88%) !important;
}
.fc .fc-cell-shaded {
    background-color: hsl(231, 16%, 34%) !important;
}
.fc-theme-standard tbody {
    border: none !important;
}

.island span[style]:not(a > span[style]):not(.tile > span[style]) {
    color: hsl(227, 68%, 88%) !important;
    background-color: rgba(0,0,0,0) !important;
}
.island a > span[style] {
    color: hsl(316, 74%, 85%) !important;
    background-color: rgba(0,0,0,0) !important;
}
.island section {
    background-color: hsl(232, 24%, 18%) !important;
}

.tabs {
    background: hsl(231, 16%, 34%);
    border-bottom: none;
}
.tabs dd > a, .tabs .tab-title > a {
    color: hsl(227, 68%, 88%);
}


.information-list, .action-list > .actions-small-1 {
    background-color: hsl(230, 19%, 26%) !important;
}

.timetable th, .timetable-small th, .timetable td, .timetable-small td {
    background-color: hsl(230, 19%, 26%);
}
.timetable a {
    color: #0066b0;
}
.timetable div.timetable-subject > div {
    color: hsl(232, 24%, 18%);
}
.timetable-day-active {
    background-color: hsl(231, 16%, 34%) !important;
}

.breadcrumb li.active span:not([href]) {
    color: hsl(316, 74%, 85%);
}

#container::-webkit-scrollbar, .left-off-canvas-menu::-webkit-scrollbar, .right-off-canvas-menu::-webkit-scrollbar, .hybrid-bar .account-drop::-webkit-scrollbar {
    background-color: hsl(236, 23%, 12%);
    width: 8px;
}
#container::-webkit-scrollbar-thumb, .left-off-canvas-menu::-webkit-scrollbar-thumb, .right-off-canvas-menu::-webkit-scrollbar-thumb, .hybrid-bar .account-drop::-webkit-scrollbar-thumb {
    background: hsla(316, 74%, 85%, 0.50);
}
#container:hover::-webkit-scrollbar-thumb, .left-off-canvas-menu:hover::-webkit-scrollbar-thumb, .right-off-canvas-menu:hover::-webkit-scrollbar-thumb, .hybrid-bar .account-drop:hover::-webkit-scrollbar-thumb {
    background: hsl(316, 74%, 85%);
}
#container::-webkit-scrollbar-track, .left-off-canvas-menu::-webkit-scrollbar-track, .right-off-canvas-menu::-webkit-scrollbar-track, .hybrid-bar .account-drop::-webkit-scrollbar-track {
    background: hsl(236, 23%, 12%);
}

.icon-news::before {
    color: hsl(227, 68%, 88%);
}

input:not([type]), input[type=text], input[type=password], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=email], input[type=number], input[type=search], input[type=tel], input[type=time], input[type=url], input[type=color], textarea, input:hover, textarea:hover, select:hover {
    background-color: hsl(232, 24%, 18%);
    color: hsl(227, 68%, 88%);
}

label.error {
    color: hsl(351, 74%, 73%);
}

:root {
    --sb-ck-active: hsl(316, 74%, 85%);
    --sb-ck-active-grey: hsl(232, 24%, 18%);
    --sb-ck-active-highlight: #daedff;
    --sb-ck-button-grid-border: #bbbbbb;
    --sb-ck-disabled: #dddddd;
    --sb-ck-icon-colour: rgb(51, 51, 51);

    /* Overrides of default CK colours */
    --ck-color-base-background: hsl(230, 19%, 26%) !important;
    --ck-color-text: hsl(227, 68%, 88%) !important;


        --navigation-foreground-r: 202;
    --navigation-foreground-g: 211;
    --navigation-foreground-b: 245;
    --navigation-foreground: hsl(227, 68%, 88%);
        --navigation-foreground-contrast-r: 24;
    --navigation-foreground-contrast-g: 25;
    --navigation-foreground-contrast-b: 38;
    --navigation-foreground-contrast: hsl(236, 23%, 12%);
        --navigation-background-r: 30;
    --navigation-background-g: 32;
    --navigation-background-b: 48;
    --navigation-background: hsla(233, 23%, 15%, 1.00);
        --navigation-background-contrast-r: 24;
    --navigation-background-contrast-g: 25;
    --navigation-background-contrast-b: 38;
    --navigation-background-contrast: hsl(236, 23%, 12%);
        --navigation-hover-r: 245;
    --navigation-hover-g: 189;
    --navigation-hover-b: 230;
    --navigation-hover: hsl(316, 74%, 85%);
        --navigation-hover-contrast-r: 24;
    --navigation-hover-contrast-g: 25;
    --navigation-hover-contrast-b: 38;
    --navigation-hover-contrast: hsl(236, 23%, 12%);
        --off-canvas-foreground: hsl(227, 68%, 88%);
    .left-off-canvas-menu ul.off-canvas-list li h3, .left-off-canvas-menu ul.off-canvas-list li label .unit-heading, label .left-off-canvas-menu ul.off-canvas-list li .unit-heading, .left-off-canvas-menu ul.off-canvas-list li h4 {
        color: hsl(227, 68%, 88%);
    }
    --off-canvas-background: hsl(233, 23%, 15%);
    --off-canvas-hover: hsl(230, 19%, 26%);
    --accounts-menu-foreground: hsl(227, 68%, 88%);
    --accounts-menu-background: hsl(230, 14%, 42%);
        --accounts-menu-hover-r: 229;
    --accounts-menu-hover-g: 244;
    --accounts-menu-hover-b: 255;
    --accounts-menu-hover-h: 205.38;
    --accounts-menu-hover-s: 100%;
    --accounts-menu-hover-l: 94.9%;
    --accounts-menu-hover-a: 1;
    --accounts-menu-hover:   hsla(
        var(--accounts-menu-hover-h),
        var(--accounts-menu-hover-s),
        var(--accounts-menu-hover-l),
        var(--accounts-menu-hover-a)
    );
        --accounts-menu-hover-contrast-r: 0;
    --accounts-menu-hover-contrast-g: 0;
    --accounts-menu-hover-contrast-b: 0;
    --accounts-menu-hover-contrast-h: 0;
    --accounts-menu-hover-contrast-s: 0%;
    --accounts-menu-hover-contrast-l: 0%;
    --accounts-menu-hover-contrast-a: 1;
    --accounts-menu-hover-contrast:   hsla(
        var(--accounts-menu-hover-contrast-h),
        var(--accounts-menu-hover-contrast-s),
        var(--accounts-menu-hover-contrast-l),
        var(--accounts-menu-hover-contrast-a)
    );
    --content-ui-foreground: hsl(316, 74%, 85%);
    --content-ui-background: hsl(230, 19%, 26%);
        --content-ui-background-contrast-r: 0;
    --content-ui-background-contrast-g: 0;
    --content-ui-background-contrast-b: 0;
    --content-ui-background-contrast-h: 0;
    --content-ui-background-contrast-s: 0%;
    --content-ui-background-contrast-l: 0%;
    --content-ui-background-contrast-a: 1;
    --content-ui-background-contrast:   hsla(
        var(--content-ui-background-contrast-h),
        var(--content-ui-background-contrast-s),
        var(--content-ui-background-contrast-l),
        var(--content-ui-background-contrast-a)
    );
    --content-ui-hover: hsl(316, 74%, 85%);
    --content-ui-selected: hsl(230, 19%, 26%);
        --content-ui-selected-contrast-r: 0;
    --content-ui-selected-contrast-g: 0;
    --content-ui-selected-contrast-b: 0;
    --content-ui-selected-contrast-h: 0;
    --content-ui-selected-contrast-s: 0%;
    --content-ui-selected-contrast-l: 0%;
    --content-ui-selected-contrast-a: 1;
    --content-ui-selected-contrast:   hsla(
        var(--content-ui-selected-contrast-h),
        var(--content-ui-selected-contrast-s),
        var(--content-ui-selected-contrast-l),
        var(--content-ui-selected-contrast-a)
    );
    --content-ui-submit-foreground: hsl(232, 24%, 18%);
    --content-ui-submit-background: hsl(316, 74%, 85%);
        --content-ui-submit-background-contrast-r: 255;
    --content-ui-submit-background-contrast-g: 255;
    --content-ui-submit-background-contrast-b: 255;
    --content-ui-submit-background-contrast-h: 0;
    --content-ui-submit-background-contrast-s: 0%;
    --content-ui-submit-background-contrast-l: 100%;
    --content-ui-submit-background-contrast-a: 1;
    --content-ui-submit-background-contrast:   hsla(
        var(--content-ui-submit-background-contrast-h),
        var(--content-ui-submit-background-contrast-s),
        var(--content-ui-submit-background-contrast-l),
        var(--content-ui-submit-background-contrast-a)
    );
    --accent-foreground: hsl(316, 74%, 85%);
    --accent-background: hsl(316, 74%, 85%);
        --accent-background-contrast-r: 0;
    --accent-background-contrast-g: 0;
    --accent-background-contrast-b: 0;
    --accent-background-contrast-h: 0;
    --accent-background-contrast-s: 0%;
    --accent-background-contrast-l: 0%;
    --accent-background-contrast-a: 1;
    --accent-background-contrast:   hsla(
        var(--accent-background-contrast-h),
        var(--accent-background-contrast-s),
        var(--accent-background-contrast-l),
        var(--accent-background-contrast-a)
    );
        --accent-hover-r: 255;
    --accent-hover-g: 255;
    --accent-hover-b: 255;
    --accent-hover-h: 0;
    --accent-hover-s: 0%;
    --accent-hover-l: 100%;
    --accent-hover-a: 1;
    --accent-hover:   hsla(
        var(--accent-hover-h),
        var(--accent-hover-s),
        var(--accent-hover-l),
        var(--accent-hover-a)
    );
        --accent-hover-contrast-r: 0;
    --accent-hover-contrast-g: 0;
    --accent-hover-contrast-b: 0;
    --accent-hover-contrast-h: 0;
    --accent-hover-contrast-s: 0%;
    --accent-hover-contrast-l: 0%;
    --accent-hover-contrast-a: 1;
    --accent-hover-contrast:   hsla(
        var(--accent-hover-contrast-h),
        var(--accent-hover-contrast-s),
        var(--accent-hover-contrast-l),
        var(--accent-hover-contrast-a)
    );
    --logo-background: 24273a;
    --body-background: hsl(232, 24%, 18%);
    --form-border-color: hsla(316, 74%, 85%, 0.40);
    --form-bg-hover-color: hsla(316, 74%, 85%, 0.30);
    --form-bg-hover-color-contrast: hsl(227, 68%, 88%);
    --body-foreground: hsl(227, 68%, 88%);
    --body-foreground-h1: hsl(227, 68%, 88%);
}